:root {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: lights;
  color: black;
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

div#root {
  height: 100%;
}

html, body {
  margin: 0;
  height: 100%;
}

/* Navbar */

nav {
  width: 100%;
  height:70px;
  top: 0;
  border-bottom: 1px solid #d9d9d9;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

nav img {
  width: 70px;
  height: 70px;
}

nav a {
  cursor: pointer;
}

.title {
  font-size: 30px;
  color: #e36414;

  display: inline-block;
  vertical-align: top;
  margin-top: 10px;

  font-weight: bold;
}

/* Landing */

.landing-container {
  margin: 0 30%;
}

.chat-btns {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 50px;
}

.chat-label {
  font-weight: normal;
  font-size: 30px;
}

.chat-btns button {
  height: 45px;
  width: 120px;
  padding: 15px 20px;
  background-color: #fb8b24;
  border-color: #fb8b24;;
  color: white;
  border: 0;
  border-radius: 7px;
  cursor: pointer;
  font-weight: bold;
}

.chat-btns button:active {
  background-color: #e36414;
}

/* Text Chat */
.text-chat-container {
  display: flex;
  flex-direction: column;
  height: calc(100% - 95px);
  padding: 10px;
  flex-grow: 1;
}

.text-log {
  display: block;
  height: 80%;
  flex-grow: 1;
  overflow: scroll;
  padding: 10px;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
}

.text-chat-actions {
  display: flex;
  margin-top: 10px;
  gap: 5px;
}

.text-chat-actions textarea {
  flex-grow: 1;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  font-size: 18px;
  border: 1px solid #d9d9d9;
  padding: 5px;
  border-radius: 5px;
  overflow-x: hidden;
  resize: none;
}

.send-btn {
  color: white;
  background-color: #fb8b24;
  border: 0;
  width: 100px;
  border-radius: 10px;
}

.send-btn:active {
  background-color: #e36414;
}

.next-btn {
  background-color: white;
  border: 1px solid #d9d9d9;
  width: 100px;
  border-radius: 10px;
}

/* Video Chat */
.video-chat-container {
  display: flex;
  flex-direction: row;
  height: calc(100% - 95px);
}

.video-chat-container .text-chat-container {
  height: 100%;
}

.media-container {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  padding-left: 10px;
  gap: 10px;
  min-width: 39%;
  justify-content: center;
}

.media {
  display: block;
  aspect-ratio: 4/3;
  align-content: center;
  background-color: black;
  max-height: 50%;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
}

.videoPlayer {
  width: 100%;
  height: 100%;
  
}
